body {
    background: rgba(0, 0, 0, 0.95);
    margin: 0;
    color: white;
    font-family: Montserrat, sans-serif;
}

.showcase::after {
    content: "";
    height: 100vh;
    width: 100%;
    background-image: url(./images/showcase.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(8px);
    transition: 800ms;
}

.showcase:hover::after {
    filter: blur(0px);

}

.reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.5s ease-out;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}


.content {
    position: absolute;
    z-index: 1;
    transition: all 1000ms;
    width: 100%;
    margin-top: 300px;

    font-weight: 300;
}

.content .logo {
    height: 200px;
    margin: auto;
    display: block;

}

.title {
    font-size: 2.5rem;
    margin-top: 1rem;
    text-align: center;

}

.text {
    line-height: 1.7;
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;

}

.container {
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
    line-height: 1.5em;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.center {
    text-align: center;
    margin: auto;
}

.bg-light {
    background: whitesmoke;
    color: #333;
}

.bg-dark {
    background: black;
    color: cornsilk;
}

footer p {
    margin: 0;
    padding: 2.2rem;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

/* Mobile*/
@media(max-width: 600px) {
    .showcase::after {
        height: 75vh;
    }

    .content {
        top: 5%;
        margin-top: 50px;
    }

    .content .logo {
        height: 120px;
    }

    .content .title {
        font-size: 1.6rem;
    }

    .content .text {
        font-size: 1.3rem;
    }

    .grid-3,
    .grid-2 {
        grid-template-columns: 1fr;
    }

    .services div {
        border-bottom: white dashed 5px;
    }


}

@media(max-height:500px) {

    .content .title,
    .content .text {
        display: none;
    }

    .content {
        top: 0;
        margin-top: 150px;
    }
}