@media (min-width: 601px) {
  body {
    background: rgba(0, 0, 0, 0.95);
    margin: 0;
    color: white;
    font-family: Montserrat, sans-serif;
  }

  .navbar {
    display: inline-flex;
    position: absolute;
    z-index: 1;
    justify-content: center;
    width: 100%;
    gap: 4rem;
  }

  .nav-item {
    width: 5%;
    min-width: 75px;
  }

  a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
  }
  a:hover {
    color: rgb(58, 117, 117);
  }

  h3 {
    margin: 0;
    padding: 18px 0 5px 0;
    width: auto;
  }

  .nav-item {
    padding: 2% 2% 2% 2%;
    margin: 0;
    text-align: center;
    font-size: 1.3rem;
  }

  .showcase::after {
    content: "";
    height: 100vh;
    width: 100%;
    background-image: url(./images/showcase.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(8px);
    transition: 800ms;
  }

  .main {
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: minmax(200px, 300px) minmax(600px, 800px) minmax(
        200px,
        300px
      );
    grid-template-rows: 200px 200px;
    max-width: 800px;
    margin: auto;
    margin-top: 100px;
  }

  .intro {
    max-width: 900px;
    text-align: left;
  }

  .intro-logo {
    margin-right: 50px;
  }

  .skills {
    max-width: 800px;
    text-align: left;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .skills-logo {
    float: right;
    object-fit: none;
    overflow: hidden;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  #skills-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 200px));
    list-style: none;
    padding: 0;
  }
  .skills-grid p {
    display: inline;
    color: rgb(79, 156, 156);
  }

  hr {
    margin: 20 auto 20 auto;

    width: 20%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0)
    );
  }

  .showcase:hover::after {
    filter: blur(0px);
  }

  .grad {
    text-align: center;
    font-size: 2rem;
  }
  .reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.5s ease-out;
  }

  .reveal.active {
    transform: translateY(0px);
    opacity: 1;
  }

  .content {
    position: absolute;
    z-index: 1;
    transition: all 1000ms;
    width: 100%;
    margin-top: 300px;

    font-weight: 300;
  }

  .content .logo {
    height: 200px;
    margin: auto;
    display: block;
  }

  .title {
    font-size: 2.5rem;
    margin-top: 1rem;
    text-align: center;
  }

  .text {
    line-height: 1.7;
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
  }

  .container {
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 2rem 1rem;
    line-height: 1.5em;
  }

  .grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .center {
    text-align: center;
    margin: auto;
  }

  .bg-light {
    background: whitesmoke;
    color: #333;
  }

  .bg-dark {
    color: cornsilk;
  }

  footer p {
    margin: 0;
    padding: 2.2rem;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
  }

  .fade-in.appear {
    opacity: 1;
  }
}

/* Mobile*/
@media (max-width: 600px) {
  /* .content {
    top: 2%;
  }

  .content .logo {
    height: 120px;
  }

  .content .title {
    font-size: 1.6rem;
  }

  .content .text {
    font-size: 1.3rem;
  } */

  .grid-3,
  .grid-2 {
    grid-template-columns: 1fr;
  }

  .grid-3-item {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  body {
    background: rgba(0, 0, 0, 0.95);
    margin: 0;
    color: white;
    font-family: Montserrat, sans-serif;
  }

  .navbar {
    display: inline-flex;
    position: absolute;
    z-index: 1;
    justify-content: center;
    width: 100%;
    margin: auto;
  }

  a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
  }
  a:hover {
    color: rgb(58, 117, 117);
  }

  h3 {
    margin: 0;
    padding: 18px 0 5px 0;
    width: auto;
  }

  .nav-item {
    padding: 2% 2% 2% 2%;
    margin: 0;
    text-align: center;
    font-size: 1.3rem;
    width: 27%;
  }

  .showcase::after {
    content: "";
    height: 100vh;
    width: 100%;
    background-image: url(./images/showcase.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(8px);
    transition: 800ms;
  }

  .skills-grid p {
    display: inline;
    color: rgb(79, 156, 156);
  }

  hr {
    margin: 20 auto 20 auto;

    width: 20%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0)
    );
  }

  .showcase:hover::after {
    filter: blur(0px);
  }

  .grad {
    text-align: center;
    font-size: 2rem;
  }
  .reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.5s ease-out;
  }

  .reveal.active {
    transform: translateY(0px);
    opacity: 1;
  }

  .content {
    position: absolute;
    z-index: 1;
    transition: all 1000ms;
    width: 100%;
    margin-top: 30vh;

    font-weight: 300;
  }

  .content .logo {
    height: 200px;
    margin: auto;
    display: block;
  }

  .title {
    font-size: 2.5rem;
    margin-top: 1rem;
    text-align: center;
  }

  .text {
    line-height: 1.7;
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
  }

  .container {
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
    line-height: 1.5em;
  }

  .center {
    text-align: center;
    margin: auto;
  }

  .bg-light {
    background: whitesmoke;
    color: #333;
  }

  .bg-dark {
    color: cornsilk;
  }

  footer p {
    margin: 0;
    padding: 2.2rem;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
  }

  .fade-in.appear {
    opacity: 1;
  }

  .main {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    text-align: center;
    margin: auto;
    max-width: 70%;
    margin-top: 50px;
  }

  .intro-logo {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .intro {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  .skills-logo {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    margin-bottom: 10px;
  }

  .skills {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
  }

  #skills-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 200px));
    grid-template-rows: repeat(3, 1fr);
    list-style: none;
    padding: 0;
    text-align: left;
  }

  .about {
    text-align: center;
  }
}

@media (max-height: 500px) {
  .content .title,
  .content .text {
    display: none;
  }

  .content {
    top: 0;
    margin-top: 150px;
  }
}
